.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.wrap {
  position: relative;
  padding-top: 24px;
}

.label {
  position: absolute;
  top: 45px;
  left: 20px;
  font-size: 18px;
  transition: 0.3s;
}

.wrap :is(input:focus, input:valid) ~ label {
  top: 0px;
  left: 0px;
}

.input {
  width: 100%;
  height: 64px;
  font-size: 24px;
  padding: 5px 20px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 24px;
  color: #4f4444;
}
.input::placeholder {
  color: #4f4444;
}

.error,
.errorPassword {
  position: absolute;
  top: 5px;
  right: 0;
  max-width: 300px;
  font-size: 16px;
  color: tomato;
}
/* .errorPassword {
  top: -12px;
  text-align: end;
} */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 20px;
}

.navLink {
  font-size: 10px;
  cursor: pointer;
}
.wrapCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.checkbox {
  width: 12px;
  height: 12px;
  margin-bottom: 3px;
}

.labelCheckbox {
  font-size: 10px;
  line-height: 1;
}

.policy {
  color: #59a4f2;
}

.submit {
  height: 52px;
  background-color: #59a4f2;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
}

.errorSubmit {
  color: tomato;
  font-size: 14px;
  margin-top: -30px;
  align-self: center;
}

@media (max-width: 520px) {
  .form {
    padding: 0 20px;
    gap: 12px;
  }
  .input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    font-size: 18px;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .label {
    top: 36px;
    left: 20px;
    color: #4f4444;
    font-size: 16px;
  }
  .error,
  .errorPassword {
    font-size: 12px;
  }
  .submit {
    height: 36px;
    font-size: 16px;
  }
  .errorSubmit {
    color: tomato;
    font-size: 10px;
    margin-top: 0px;
    align-self: center;
  }
}
