.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    opacity: 1;
    z-index: 100;
    font-size: 18px;
}

.modal.active {
    opacity: 1;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEC3FD;
    position: relative;
}

.formTitle {
    margin-bottom: 35px;
    text-align: center; 
}

.formBorder {
    border-radius: 16px;
    border: 5px solid #EEC3FD;
    padding: 2%;
    background-color: #EEC3FD;
}

.formInput {
    margin-bottom: 25px;
    padding: 15px;
    width: 350px;
    border-radius: 16px;
    border-color: #EEC3FD;
}

.close {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 40px;
    color: #000;
    font-weight: 400;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.registrationBtn {
    border-radius: 16px;
    height: 47px;
    line-height: 47px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color: #dd94f8;
    box-shadow: 0 2px #EEC3FD;
    cursor: pointer;
    width: 350px;
    color: #000;
}

.registrationBtn:hover {
    background-color: #ce7cec;
    color: #fff;
}

.registrationBtn:active {
    background-color: #bb3de9 !important;
}

.registrationBtn:focus-visible {
    box-shadow: 0 0 0 3px #d260fc;
}

.registrationBtn:disabled {
    background-color: #f2e1f8;
    pointer-events: none;
}
