.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px 15px 36px 15px;
}

.btnSubmit {
  display: inline-block;
  margin: 0 auto;
  width: 240px;
  height: 36px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  font-size: 20px;
  line-height: 22px;
  transition: transform 0.3s ease-in-out;
}

.btnSubmit:hover {
  transform: scale(1.1);
}

@media (max-width: 640px) {
  .text {
    font-size: 16px;
    line-height: 1.1;
  }

  .btnSubmit {
    width: 200px;
    font-size: 18px;
    line-height: 1.1;
  }
}
@media (max-width: 420px) {
  .btnSubmit {
    width: 180px;
    font-size: 16px;
    line-height: 1.1;
  }
}
