.events {
  position: relative;
}

.img {
  margin-bottom: 50px;
}

.line {
  border-top: 3px solid #EEEEEE;
  opacity: 0.5;
  margin-bottom: 50px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  position: absolute;
  left: 205px;
  top: 270px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  left: 205px;
  top: 325px;
}

.wrapper {
  color: #FFFFFF;
}
