.tabs {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 100px 0 55px 0;
}

.navigation__link {
  font-size: 37px;
  transition: border var(--transition-short);
  border-bottom: 2px solid transparent;
}
.auth {
  color: gray;
}
.auth:hover {
  border: none;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  border-color: var(--color-black);
}

.options__list {
  display: flex;
}

.options__list_item {
  margin-right: 30px;
  transition: var(--transition-time-short);
}

.options__list_item:hover,
.options__list_item:focus {
  transform: translateY(-5px);
}

.options__list_item:last-child {
  margin-right: 0;
}
