  .search {
      display: flex;
      gap: var(--gap-medium);
      padding: var(--gap-medium) 0px;
  }

  .gallery {
      display: flex;
      justify-content: space-between;
  }

  .img_wrapper {
      overflow: hidden;
      cursor: pointer;
      gap: 30px;
      margin-top: 65px;
  }

  .img {
      max-width: 318px;
      border-radius: 29px;
      gap: 30px;
  }

h2 {
    font-size: 48px;
    line-height: 57px;
}

 .wrapper {
     display: flex;
     margin-bottom: 30px;
     align-items: center;
 }

 h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
 }
 