.routes {
  position: relative;
  padding-top: 40px;
}

.authBlure {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  height: 670px;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-top: 65px;
}

.img_wrapper {
  overflow: hidden;
  cursor: pointer;
  gap: 30px;
}

.img {
  max-width: 318px;
  border-radius: 29px;
  gap: 30px;
}

.message {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  padding: 10px;
  color: aliceblue;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);

  /* background-color: aliceblue; */
}
