.acorcontainer {
    margin: 20px 0;
}

.acorcontainer .acorbody {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #BFE2FF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: absolute;
    width: 459px;
}

.acorcontainer .acorbody p {
    margin: 0 0 10px;
}

.acorcontainer label {
    cursor: pointer;
    background-color:#E1BF0B;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #1f2122;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}

.acorcontainer label:hover {
    color: #FFF;
}

.acorcontainer input {
    display: none;
}

.acorcontainer label:before {
    content: '\276F';
    float: right;
}

.acorcontainer input:checked+label {
    background-color: #285f8f;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acorcontainer input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acorcontainer input:checked+label+.acorbody {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 20px 10px;
}