.auth__button {
    cursor: pointer;
    position: relative;
}

.auth__icon {
    width: 56px;
    height: 56px;
}

.auth__text {
    height: 56px;
    width: 390px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    position: absolute;
    right: 480px;
}
