.line {
    background: #CDCDD1;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    opacity: 0.5;
    height: 3px;
    margin-top: 73px;
    margin-bottom: 70px;
}

@media (max-width: 960px) {
    .line {
        display: none;
    }
}
