.event {
  padding-top: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navText {
  font-size: 28px;
  color: #000000;
}

.title {
  font-size: 48px;
  text-align: center;
  padding: 25px 0;
}

.wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 60px;
}

.leftContent {
  flex-basis: 50%;
}

.distance {
  font-size: 16px;
  text-align: center;
}

.sliderWrapper {
  aspect-ratio: 1/1;
}

.enter {
  margin-top: 20px;
}
.date,
.censure {
  font-size: 20px;
  margin: 20px 0;
}
.date span {
  font-size: 24px;
  font-weight: 700;
}

.price {
  font-size: 20px;
}

.rightContent {
  flex-basis: 50%;
}

.adress {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}

.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 20px;
}

.link {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #000;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background-color: var(--style-color);
}

.description {
  font-size: 16px;
  line-height: 1.3;
}

@media (max-width: 1050px) {
  .title {
    font-size: 32px;
    padding: 20px 0;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 28px;
  }

  .wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .leftContent {
    display: flex;
    flex-direction: column;
  }
  .sliderWrapper {
    align-self: center;
    width: 90%;
    aspect-ratio: 2/1;
  }
}

@media (max-width: 640px) {
  .wrapper {
    gap: 10px;
  }
  .title {
    font-size: 24px;
  }
  .enter {
    margin-top: 10px;
  }
  .date,
  .censure {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .date span {
    font-size: 18px;
    font-weight: 700;
  }
  .price {
    font-size: 16px;
  }
  .adress {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 520px) {
  .navText {
    font-size: 20px;
  }
}
