.title {
  font-size: 48px;
  text-align: center;
  margin: 4px;
}
.leftContent {
  flex: 1 0 540px;
}

.distance {
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}

.cart {
  display: flex;
  gap: 20px;
  background-color: #bd7272;
  padding-bottom: 20px;
}

.enter {
  margin-top: 20px;
  background-color: #d2c7c7;
}
.date,
.censure {
  font-size: 20px;
  margin: 20px 0;
}

.price {
  font-size: 20px;
}
.review {
  font-size: 20px;
}
.rightHeader {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.adress {
  font-size: 20px;
  background-color: #d2c7c7;
  line-height: 2;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  background-color: #d2c7c7;
}
