.events {
  display: block;
  height: 600px;
  padding-top: 400px;

  background-image: url('./img/Events.jpg');
}

.wrapper {
  max-width: 970px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 40px;
}

.title {
  font-size: 54px;
  color: #ffffff;
}

.text {
  font-size: 26px;
  color: #ffffff;
}
