.wrapper {
  display: flex;
  gap: 24px;
  height: 345px;
  padding: 14px;
  margin-bottom: 32px;
  background: #ffffff;
  border: 1px solid #cac8c8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.imgWrapper {
  flex: 0 0 288px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.imgWrapper img {
  height: 100%;
}

.content {
  flex: 0 1 auto;
  overflow: hidden;
}
.title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.descr {
  font-size: 24px;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.source {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-right: 10px;
}
.sourceName {
  display: inline-block;
  font-weight: 400;
  font-size: 32px;
}

@media (max-width: 992px) {
  .wrapper {
    height: 300px;
    margin-bottom: 18px;
  }
  .imgWrapper {
    flex: 0 0 240px;
    height: 260px;
  }
  .title {
    font-size: 24px;
  }
  .date {
    font-size: 18px;
  }
  .descr {
    font-size: 20px;
  }
  .source {
    font-size: 18px;
  }
  .sourceName {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 250px;
  }
  .imgWrapper {
    flex: 0 0 200px;
    height: 220px;
  }
  .title {
    font-size: 20px;
  }
  .date {
    font-size: 16px;
  }
  .descr {
    font-size: 16px;
  }
  .source {
    font-size: 16px;
  }
  .sourceName {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    height: 220px;
  }
  .imgWrapper {
    flex: 0 0 150px;
    height: 160px;
  }
  .title {
    font-size: 18px;
  }
  .date {
    font-size: 14px;
  }
  .descr {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .source {
    font-size: 14px;
  }
  .sourceName {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .wrapper {
    height: 160px;
    margin-bottom: 12px;
    gap: 10px;
  }
  .imgWrapper {
    flex: 0 0 120px;
    height: 130px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .date {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .descr {
    font-size: 10px;
  }
  .source {
    font-size: 10px;
  }
  .sourceName {
    font-size: 10px;
  }
}
