.footer {
  background-color: #18171a;
  padding: 60px 0 30px 0;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'logo address contacts'
    'copyright . .';
  gap: 20px;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: flex-start;
}

.logoIcon {
  width: 65px;
  height: 65px;
}

.logoText {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.address {
  grid-area: address;
  text-align: left;
}
.addressTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 8px;
}
.addressDescription {
  font-weight: 400;
  max-width: 180px;
  font-size: 24px;
  line-height: 1.3;
}

.contacts {
  grid-area: contacts;
}

.contactsTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 8px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
}

.contactsItem {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contactsLink {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.contactsSocial {
  display: flex;
  align-items: start;
  gap: 30px;
}

.copyright {
  grid-area: copyright;
  font-size: 24px;
  line-height: 27px;
}

@media (max-width: 992px) {
  .iconSocial,
  .iconContacts,
  .logoIcon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 900px) {
  /* .logoIcon {
    width: 50px;
    height: 50px;
  } */

  .logoText {
    font-size: 18px;
    line-height: 1.2;
  }

  .addressTitle {
    font-size: 18px;
    line-height: 1.2;
  }
  .addressDescription {
    font-size: 18px;
    line-height: 1.2;
  }

  .contactsTitle {
    font-size: 18px;
    line-height: 1.2;
  }

  .contactsLink {
    font-size: 18px;
    line-height: 1.2;
  }

  .contactsItem {
    gap: 18px;
  }

  .iconSocial,
  .iconContacts {
    width: 36px;
    height: 36px;
  }
  .copyright {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 40px 0;
  }
  .logo {
    gap: 24px;
  }

  .logoIcon {
    width: 34px;
    height: 34px;
  }

  .logoText {
    font-size: 12px;
  }

  .addressTitle {
    font-size: 12px;
  }
  .addressDescription {
    font-size: 12px;
  }

  .contactsTitle {
    font-size: 12px;
  }

  .contactsLink {
    font-size: 12px;
  }

  .contactsItem {
    gap: 8px;
  }

  .iconContacts {
    width: 14px;
    height: 14px;
  }

  .contactsSocial {
    gap: 20px;
  }
  .iconSocial {
    width: 28px;
    height: 28px;
  }
  .copyright {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .footer {
    padding: 30px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'logo  contacts'
      'address contacts'
      'copyright . ';
    gap: 20px;
  }
}
