  .search {
      border-color: #f1f9fb0f;
      padding: 12px 20px;
      padding-left: 46px;
      font-size: 16px;
      opacity: 0.8;
      width: 400px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 50px;
  }

  .wrapperInput {
      position: relative;
      display: flex;
      align-items: center;
  }

  .text {
      font-size: 20px;
      margin-right: 38px;
  }

  .svgSearch {
      position: absolute;
      left: 316px;
      top: 3px;
      opacity: 0.2;
  }

  .svgClose {
      position: absolute;
      width: 26px;
      height: 26px;
      right: 32%;
      top: 8px;
      opacity: 0.3;
      cursor: pointer;
  }

  .svgClose:hover {
      opacity: 0.8;
  }