.overlay,
.overlayActive {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inset: 0;
  z-index: 99;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  overflow: auto;
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

.overlayActive {
  opacity: 1;
  pointer-events: all;
}

.modal,
.modalActive {
  width: 600px;
  border-radius: 10px;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
.modal {
  transform: scale(0.5);
}
.modalActive {
  transform: scale(1);
}

@media (max-width: 720px) {
  .overlay,
  .overlayActive {
    padding-top: 30px;
  }
}
@media (max-width: 680px) {
  .modal,
  .modalActive {
    width: 90%;
  }
}
