.wrapper {
    display: flex;
    margin-left: 68px;
    font-size: 24px;
}

.distance {
    margin-bottom: 26px;
    text-align: center;
}

.img {
    margin-bottom: 60px;
}

.content {
    margin-left: 81px;
}

.address {
    max-width: 880px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
}

.link {
    font-size: 22px;
    color: #8f8e8e;
}

.reviewsScope {
    height: 100px;
    background: #EBE6E6;
    padding: 1%;
    margin-top: 32px;
    margin-bottom: 45px;
}

.reviews {
    margin-bottom: 16px;
}

.reviews:last-child {
    margin-bottom: 50px;
}