.wrapper {
    display: flex;
    margin-left: 68px;
    font-size: 27px;
    margin-top: 40px;
}

.distance {
    font-weight: 400;
    margin-bottom: 26px;
    text-align: center;
}

.img {
    margin-bottom: 60px;
}

.content {
    margin-left: 81px;
}

.address {
    max-width: 880px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 15px;
}

.link {
    font-size: 25px;
    color: #8f8e8e;
}

.reviewsScope {
    max-width: 865px;
    height: 100px;
    background: #EBE6E6;
    padding: 1%;
    margin-top: 58px;
    margin-bottom: 75px;
}

.reviews {
    margin-bottom: 16px;
}