.button {
    margin-left: 285px;
    margin-bottom: 200px;
    margin-top: 80px;
    width: 540px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}