  .search {
    border-color: #f1f9fb0f;
    padding: 12px 20px;
    padding-left: 46px;
    opacity: 0.8;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 16px;
  }

  .wrapperInput {
    position: relative;
    display: flex;
    align-items: center;
  }

  .text {
    font-size: 20px;
    margin-right: 38px;
    line-height: 18px;
  }

  .svgSearch {
    position: absolute;
    left: 473px;
    top: 3px;
    opacity: 0.2;
  }

  .svgClose {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 17%;
    top: 7px;
    opacity: 0.3;
    cursor: pointer;
  }

  .svgClose:hover {
    opacity: 0.8;
  }
