  .wrapper {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
  }
  
  .title {
    font-weight: 400;
    font-size: 62px;
  }

  .search {
    width: 674px;
    height: 60px;
    background: #F1F9FB;
    border-color: #F1F9FB;
    border-radius: 70px;
    padding: 2%;
    margin-right: 56px;
    position: relative;
  }

  .text {
    font-size: 23px;
  }

  .svgSearch {
    position: absolute;
    left: 49%;
  }