.route {
  padding-top: 10px;
  padding-bottom: 100px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  padding: 23px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.interactiveContent {
  flex-shrink: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapperAddress {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.errorAddress {
  position: absolute;
  top: -10px;
  left: 20px;
  color: red;
  font-size: 14px;
}

.btnSubmit {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  height: 40px;
  padding: 0 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.btnSubmit:hover {
  transform: scale(1.1);
}

.map {
  height: 360px;
}
.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex-shrink: 0;
  flex-basis: 50%;
  padding-left: 8px;
}

.contentTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 17px;
}
.routeInfo {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-areas:
    'category categoryValue'
    'length lengthValue';
  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 24px;
}
.category {
  grid-area: category;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.categoryValue {
  grid-area: categoryValue;
  font-size: 18px;
  line-height: 20px;
}
.length {
  grid-area: length;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.lengthValue {
  grid-area: lengthValue;
  font-size: 18px;
  line-height: 20px;
}

.svgWrapper {
  display: flex;
  margin-right: 40px;
}

.svg {
  margin-right: 10px;
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.svg:last-child {
  margin-right: 0px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navText {
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
}

.message {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 32px;
  }
}

@media (max-width: 520px) {
  .navText {
    font-size: 20px;
  }
  .title {
    font-size: 24px;
  }
  .btnSubmit {
    padding: 0 10px;
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 24px;
    line-height: 1.1;
  }
  .btnSubmit {
    height: 30px;
  }

  .contentTitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .routeInfo {
    row-gap: 12px;
    margin-bottom: 18px;
  }
  .category,
  .categoryValue,
  .length,
  .lengthValue {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media (max-width: 370px) {
  .wrapperAddress {
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }
  .btnSubmit {
    padding: 0 20px;
  }
}
