@import '~normalize.css';

@font-face {
  font-family: 'Comfortaa-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Comfortaa-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Comfortaa-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/Comfortaa-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Comfortaa-Light';
  font-weight: 300;
  font-style: normal;
  src: url(./fonts//Comfortaa-Light.woff2) format('woff2');
}

html {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Comfortaa-Regular', cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #18171a;
  background: #eee;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

section {
  font-size: 2rem;
  padding-top: var(--gap-medium);
  padding-bottom: var(--gap-large);
  border-top: 10px solid #eee;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
}

button:hover,
button:focus,
select:hover,
select:focus,
input:hover,
input:focus {
  box-shadow: var(--box-shadow-accent-small);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  background: var(--color-white);
}

.main-container,
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 72px;
}

.section__title {
  padding-left: 25px;
  margin-bottom: 20px;
  border-left: 25px solid var(--color-accent);
  border-radius: 50px;
}

input,
button,
textarea,
label {
  font: inherit;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
