.header {
  background-image: url('/public/BlockHeaderNew.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
  padding: 40px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.title {
  font-size: 54px;
  line-height: 60px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle,
.subtitleEvents {
  font-size: 20px;
  margin-top: 14px;
}
.subtitleEvents {
  margin-top: 35px;
}

.search {
  display: flex;
  gap: 29px;
  margin-top: 23px;
}

.city {
  display: inline-block;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: #c4c4c4;
  background: #f1f9fb;
  border-radius: 50px;
  padding: 0 40px;
  margin: 16px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.iconWrapper {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 38px;
}

.events {
  font-size: 38px;
  line-height: 42px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.burgerBtn {
  position: relative;
  width: 56px;
  height: 56px;
}

.header__burgerMenu {
  position: absolute;
  right: 0px;
  top: 0;
  height: 212px;
  width: 56px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  padding-top: 70px;
}

.header__burger_svg {
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.header__authText {
  position: absolute;
  right: 170px;
  top: 0;
  width: 240px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

.header__authText::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(255, 255, 255, 0.6);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.login {
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  margin-right: 0;
}

@media (max-width: 992px) {
  .title {
    font-size: 44px;
    line-height: 52px;
  }
  .subtitle,
  .subtitleEvents {
    font-size: 20px;
    line-height: 22px;
  }

  .header__authText {
    top: -10px;
    right: 140px;
    width: 240px;
  }

  .header__burgerMenu {
    width: 50px;
  }

  .iconWrapper {
    gap: 20px;
  }
  .burgerBtn {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 900px) {
  .header__authText {
    width: 180px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
  }
  .login {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .authText {
    display: none;
  }
  .header__authText {
    top: -30px;
    right: 70px;
    width: 140px;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
  }
  .header__authText::after {
    top: 24px;
    right: 7px;
    border-left: 8px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.6);
    border-bottom: none;
    border-right: 8px solid transparent;
  }

  .login {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .header {
    height: 198px;
    padding-bottom: 30px;
    background-image: url('/public/BlockHeader640.jpg');
  }

  .title,
  .events {
    font-size: 32px;
    line-height: 36px;
  }
  .events {
    max-width: 300px;
    width: 100%;
  }

  .subtitle,
  .subtitleEvents {
    font-size: 13px;
    line-height: 14px;
    margin-top: 8px;
  }

  .city {
    font-size: 10px;
    line-height: 20px;
    height: 20px;
    padding: 0 8px;
  }
  .burgerBtn {
    width: 32px;
    height: 32px;
  }

  .header__authText {
    right: 50px;
    width: 140px;
  }
  .header__burgerMenu {
    height: 156px;
    width: 32px;
    padding-top: 45px;
  }
  .header__burgerMenu svg {
    width: 24px;
  }
}

@media (max-width: 520px) {
  .title,
  .events {
    font-size: 26px;
    line-height: 1.2;
  }
  .subtitle,
  .subtitleEvents {
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .title,
  .events {
    font-size: 18px;
    line-height: 1.2;
  }
}
