.search {
  display: flex;
  gap: var(--gap-medium);
  padding: var(--gap-medium) 0px;
}

.location {
  padding-top: 100px;
}

.locations__gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.locations__img_wrapper {
  overflow: hidden;
  cursor: pointer;
  margin-top: 65px;
}

.locations__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}

.blocImg {
  background: #000;
  overflow: hidden;
  height: 320px;
  width: 245px;
  border-radius: 10px;
}

.locations__img:hover {
  transform: scale(1.15);
  opacity: 0.5;
}

.wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.title {
  font-size: 48px;
  line-height: 54px;
}

.locations__gallery {
  position: relative;
}

.blocText {
  position: absolute;
  top: 70px;
  padding: 1%;
}

.text {
  font-size: 25px;
  line-height: 34px;
  max-width: 220px;
  opacity: 0;
  color: #fff;
}

.blocText::after,
.blocText::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  padding: 1%;
}

.blocText::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0, 1);
}

.blocText::after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale(1, 0);
}

li:hover .blocText::after,
li:hover .blocText::before {
  transform: scale(1, 1);
}

li:hover .text {
  opacity: 1;
}

.slider {
  padding: 100px 0;
}
