.routespages {
  padding-top: 10px;
}
.cloud {
  height: 500px;
  background-color: #056cc5;
  background-size: cover;
}

.cloudcontent {
  padding: 100px;
  color: #000;
  font-weight: bold;
}

.cloud img {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes animCloud {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.cloud1 {
  -webkit-animation: animCloud 20s infinite linear;
  -moz-animation: animCloud 20s infinite linear;
  animation: animCloud 20s infinite linear;
}

.cloud2 {
  -webkit-animation: animCloud 40s infinite linear;
  -moz-animation: animCloud 40s infinite linear;
  animation: animCloud 40s infinite linear;
}

.cloud3 {
  -webkit-animation: animCloud 60s infinite linear;
  -moz-animation: animCloud 60s infinite linear;
  animation: animCloud 60s infinite linear;
}

.cloud4 {
  -webkit-animation: animCloud 80s infinite linear;
  -moz-animation: animCloud 80s infinite linear;
  animation: animCloud 80s infinite linear;
}

.modal {
  position: relative;
}

.titlePages {
  font-size: 80px;
  line-height: 109px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  margin-left: 100px;
  position: absolute;
  top: -280px;
  left: -185px;
}

.raiting {
  display: flex;
}

.wrapper {
  display: flex;
}

.title {
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 80px;
}

.list {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 70px;
}

.star {
  margin-right: 8px;
  margin-top: 9px;
  width: 42px;
  height: 42px;
}

.star:last-child {
  margin-right: 0;
}

.assesment {
  font-size: 37px;
  margin-left: 5px;
  margin-right: 14px;
}

.score {
  font-weight: 700;
  font-size: 37px;
}

.favorites {
  margin-right: 20px;
  margin-top: -60px;
  margin-left: 50px;
}

.favorites1 {
  margin-right: 60px;
  margin-top: -60px;
}

.map {
  max-width: 455px;
  margin-bottom: 50px;
}

.mapWrapper {
  display: flex;
  margin-right: 30px;
}

.content {
  margin-left: 50px;
  font-size: 22px;
  margin-bottom: 50px;
  width: 822px;
  background: #efe8e8;
  padding: 2%;
}

.contentTitle {
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.category,
.length,
.start {
  display: flex;
  align-items: center;
}

.route {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.svgWrapper {
  display: flex;
  margin-right: 40px;
}

.svg {
  margin-right: 10px;
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.svg:last-child {
  margin-right: 0px;
  cursor: pointer;
}

.resptab {
  margin-top: 15px;
  margin-bottom: 15px;
}

.resptab th,
.resptab td {
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 20px;
}

.resptab th {
  text-transform: uppercase;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}
