.events {
  padding-top: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.navText {
  font-size: 28px;
  color: #000000;
}

@media (max-width: 520px) {
  .navText {
    font-size: 20px;
  }
}
