.text {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0 auto;
    text-align: center;
    max-width: 730px;
    margin-bottom: 20px;
}

.titleText {
    font-weight: 400;
    font-size: 36px;
    line-height: 31px;
    margin-right: 0;
    text-align: right;
    padding-right: 20%;
}

h2 {
    font-weight: 400;
    font-size: 62px;
    line-height: 107px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.description {
    font-size: 20px;
    margin-left: 0;
}

.wrapperText {
    margin-top: 100px;
}
